body {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url("../backgrounds/bg1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
}